.requests{
    padding: 0 20%;

}
.requests_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.requests_title h4{
    color:#b6b9bc;

}
h4.requests_numbers{
    width: 23px;
    height: 23px;
    background-color: #1977f2;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin-right: 10px;


}



